#main{
   
    height: 380px;
    width: 350px;
}

.row{
    height: 46.4px;
    width:  100%;
    border: 1px solid firebrick;
    display: flex;
    flex-direction: row;
}
.column{
    height: 100%;
    width:  18%;
    border: 1px solid blueviolet;
}

